{
  "parser": "babel-eslint",
  "rules": {
    "curly": 0,
    "new-cap": [2, {"capIsNew": false}],
    "no-shadow": 0,
    "no-use-before-define": [2, "nofunc"],
    "quotes": [1, "single"],
    "strict": 0
  },
  "env": {
    "node": true
  }
}
